site:
  title: Porringer Docs
  url: https://porringer.dev
  start_page: porringer-website::index.adoc
output:
  dir: ./dist
content:
  sources: 
  - url: .
    start_path: docs
    version: true
  - url: https://github.com/Synodic-Software/Porringer.git
    start_path: docs
    version: true
  - url: https://github.com/Synodic-Software/Porringer-Core.git
    start_path: docs
    version: true
  - url: https://github.com/Synodic-Software/Porringer-Pip.git
    start_path: docs
    version: true
  - url: https://github.com/Synodic-Software/Porringer-Pipx.git
    start_path: docs
    version: true
  - url: https://github.com/Synodic-Software/Porringer-Winget.git
    start_path: docs
    version: true
  - url: https://github.com/Synodic-Software/Pytest-Porringer.git
    start_path: docs
    version: true
ui: 
  bundle:
    url: https://gitlab.com/antora/antora-ui-default/-/jobs/artifacts/HEAD/raw/build/ui-bundle.zip?job=bundle-stable
    snapshot: true
  supplemental_files: ./ui
runtime: # https://docs.antora.org/antora/latest/playbook/configure-runtime/
    fetch: true 
antora:
  extensions:
  - '@antora/lunr-extension'
  - '@antora/collector-extension'
